<h1>Create an article!</h1>

<!-- This is how you call a partial and since it is in the same directory we do not need to
      specify the folder. For example if it was a in a shared direcoty we would:
      'render shared/form', Also go to _form.html.erb to see what the partial looks like and how the new view
      works under the hood. -->

<%= render 'form' %>
