<h1>Showing selected article</h1>

<%-# Grabs the title instance variable and then shows the attributes %>
<p>
  Title: <%= @article.title %>
</p>
<p>
  Description: <%= @article.description %>
</p>

<p>
  <%-# Here the edit_article_path takes in the @article instance variable because it wants to grab this instance object %>
  <%= link_to "Edit this article", edit_article_path(@article) %>
</p>

<p>
  <%= link_to "Back to articles listing", articles_path %>
</p>
