<!-- This is the form partial we are reusing it since all forms are in someways alike
     Go to articles/_form.html.erb to see how the form actually works in detailed comments. -->

<h1 align="center">Sign up for Alpha Blog</h1>

<%= render 'form' %>
