<h1>Welcome to the landing page!</h1>

<%-# Anytime this percent blocks are opened it means that we are going to put some Ruby code %>
<%-# the '=' operator is the only way to display the code in the view without the '=' it is just ruby code %>
<%-# Link to the URI: pages/home with the prefix pages_home and the path can be got by pages_home_path %>
<%= link_to 'Alph Blog', pages_home_path %>
