<h1>Welcome to the Alpha Blog homepage!</h1>

<%= link_to 'Alph Blog About', pages_about_path %><br>

<%= link_to 'Landing Page', welcome_index_path %>

<%-# link_to 'Landing Page', root_path <-- This would also point us to the homepage %>
